/* Estilos para las Cards */
.Card-Seccion {
    border-radius: 15px; /*bordes redondeados*/
    border: 1px solid #ccc; /*borde de la tarjeta*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /*sombra de la tarjeta*/
    padding: 20px; /*espaciado de la tarjeta*/
    background-color: #ffffff; /*color de fondo de la tarjeta*/
    margin: 10px auto; /*margen de la tarjeta*/
    /* max-width: auto; */ 
}

.card-Internas {
    /* max-width: 600px; ancho máximo de la tarjeta */  
    border-radius: 15px; /*bordes redondeados*/
    border: 1px solid #ccc; /*borde de la tarjeta*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /*sombra de la tarjeta*/
    padding: 20px; /*espaciado de la tarjeta*/
    background-color: #ffffff; /*color de fondo de la tarjeta*/
    flex: 0 1 300px; /*flexibilidad de la tarjeta*/
    box-sizing: border-box; /*caja de la tarjeta*/
}

.Card-contactos, .Card-Gracias {
  background-color: white; /*color de fondo de la tarjeta de contactos*/
  padding: 45px 30px; /*espaciado de la tarjeta de contactos*/
  border-radius: 12px; /*bordes redondeados de la tarjeta de contactos*/
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /*sombra de la tarjeta de contactos*/
  max-width: 650px; /*ancho máximo de la tarjeta de contactos*/
  margin: 20px auto; /*margen de la tarjeta de contactos*/
  text-align: center; /*alinear el texto al centro*/
  align-items: center ; /*alinear los objetos al centro*/
}

/*Seccion de cards internas para la parte Sobre Mi*/
.Card-SobreMi {
    display: flex !important;
    flex-direction: row !important; /* fuerza dirección horizontal */
    gap: 20px;
    align-items: stretch;
    width: 100%;
}

.Card-SobreMi2 {
    border-radius: 15px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: #ffffff;
    flex: 1;
    width: calc(50% - 10px); /* 50% menos la mitad del gap */
}

/*Seccion especifica para Redes Tecnologicas*/
.Redes {
    display: flex; /* convierte el contenedor en flexbox */
    flex-direction: column; /* coloca los botones en columna */
    justify-content: center; /* centra verticalmente */
    align-items: center; /* centra horizontalmente */
    gap: 15px; /* espacio entre botones */
    width: calc(33.33% - 13px); /* ajusta el ancho para 3 cards */
}
.Redes a {
    width: 80%; /* hace que ambos botones tengan el mismo ancho */
    text-align: center; /* centra el texto dentro del botón */
    display: block; /* hace que ocupen toda la línea */
}
