/*Estilos generales del sitio web*/
body {
    background-color: #a9c4dc; /*color de fondo*/
    font-family: 'Comic Sans MS', sans-serif;/*fuente*/
}
.Gracias-Body {
    background-color: rgb(228, 241, 253); /*color de fondo*/
}

/* Estilos para los encabezados o navbar */
.navbar {
    border-radius: 15px; /*bordes redondeados*/
    background-color: #b3dcff; /*color de fondo del navbar*/
    padding: 10px; /*espaciado del navbar*/
    display: flex; /*poner tods los objetos en una fila*/
    justify-content: space-between; /*espacio entre los objetos*/
    align-items: center; /*alinear los objetos al centro*/
    gap: 10px; /*espacio entre los objetos*/
    flex-wrap: wrap; /*permitir que los objetos se ajusten a la pantalla*/
}

.References-NavBar {
    display: flex; /*poner tods los objetos en una fila*/
    gap: 15px; /*espacio entre los objetos*/
    flex-wrap: nowrap; /*no permitir que los objetos se ajusten a la pantalla en pc*/
}

.Img-NavBar {
   width: 100px; /*ancho de la imagen del navbar*/
   height: auto; /*alto de la imagen del navbar*/
}


/* Estilos para las Cards */
.Card-Seccion {
    border-radius: 15px; /*bordes redondeados*/
    border: 1px solid #ccc; /*borde de la tarjeta*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /*sombra de la tarjeta*/
    padding: 20px; /*espaciado de la tarjeta*/
    background-color: #ffffff; /*color de fondo de la tarjeta*/
    margin: 10px auto; /*margen de la tarjeta*/
    /* max-width: auto; */ 
}

.card-Internas {
    /* max-width: 600px; ancho máximo de la tarjeta */  
    border-radius: 15px; /*bordes redondeados*/
    border: 1px solid #ccc; /*borde de la tarjeta*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /*sombra de la tarjeta*/
    padding: 20px; /*espaciado de la tarjeta*/
    background-color: #ffffff; /*color de fondo de la tarjeta*/
    flex: 0 1 300px; /*flexibilidad de la tarjeta*/
    box-sizing: border-box; /*caja de la tarjeta*/
}

.Card-contactos, .Card-Gracias {
  background-color: white; /*color de fondo de la tarjeta de contactos*/
  padding: 45px 30px; /*espaciado de la tarjeta de contactos*/
  border-radius: 12px; /*bordes redondeados de la tarjeta de contactos*/
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /*sombra de la tarjeta de contactos*/
  max-width: 650px; /*ancho máximo de la tarjeta de contactos*/
  margin: 20px auto; /*margen de la tarjeta de contactos*/
  text-align: center; /*alinear el texto al centro*/
  align-items: center ; /*alinear los objetos al centro*/
}

.Cent-Form {
    display: flex; /*poner todos los objetos en una fila*/
    justify-content: center; /*centrar los objetos*/
    align-items: center; /*alinear los objetos al centro*/
    flex-direction: row; /* En computadora es fija fila */
    flex-wrap: wrap;     /* Por si hay muchos elementos */
}


/* Estilos para los botones */
a,.BotonForm, btn-aceptar {
    text-decoration: none; /*sin subrayado*/
    background-color: #b3dcff; /*color de fondo del boton*/
    color: black; /*color del texto del boton*/
    padding: 10px 20px; /*espaciado del boton*/
    /* border: none; sin borde */
    border-radius: 5px; /*bordes redondeados del boton*/
}   

.BotonProy:visited {
     color: #373737; /*color del texto del enlace visitado */
}

.BotonForm:hover {
    border: black 2px solid; /*borde del boton al pasar el mouse*/
    background-color: #81c1f9; /*color de fondo del boton al pasar el mouse*/
    color: rgb(48, 48, 48); /*color del texto del boton al pasar el mouse*/
}
a:hover {
    border: black 2px solid; /*borde del boton al pasar el mouse*/
    background-color: #81c1f9; /*color de fondo del enlace al pasar el mouse*/
    color: rgb(48, 48, 48); /*color del texto del boton al pasar el mouse*/
}


/* Estilos para los formularios */
input, textarea, select{
    /* width: 30%; ancho del input */
    padding: 10px; /*espaciado del input*/
    border-radius: 5px; /*bordes redondeados del input*/
    border: 1px solid #ccc; /*borde del input*/
    box-sizing: border-box; /*caja del input*/
    margin-bottom: 10px; /*margen inferior del input*/
    text-align: center;
}

.oculto {
  display: none; /* Oculta el aviso de cookies por defecto */
}


/* Estilos y funcion del aviso de cookies */
.aviso-cookies {
  background-color: #81c1f9; /* Color de fondo del aviso */
  color: black; /* Color del texto del aviso */
  padding: 15px; /* Espaciado interno del aviso */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Sombra para darle profundidad */
  text-align: center; /* Alinear el texto al centro */
  z-index: 9999; /* Asegurarse de que el aviso esté por encima de otros elementos */
  transition: transform 0.3s ease; /* Transición suave para ocultar el aviso */
  margin: 0; /* Eliminar márgenes */
  max-width: 400px; /* Ancho máximo del aviso */
  /* Centrar el aviso en la pantalla */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Mueve el elemento a la mitad exacta */
}

.btn-aceptar {
  background-color: #00b7ff; /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  padding: 6px 12px; /* Espaciado interno del botón */
  border-radius: 4px; /* Bordes redondeados del botón */
  cursor: pointer; /* Cambiar el cursor al pasar por encima */
}

#aceptar-cookies:checked + .aviso-cookies {
  transform: translate(0% 0%) scale(0.5); /* Se queda en el lugar y se achica */
  opacity: 0; /* Se desvanece */
  pointer-events: none; /* Evita que siga siendo clickeable */
}
.aviso-cookies {
  transition: transform 0.5s ease, opacity 0.5s ease; 
}


/* Estilos para los Footer */
footer {
    text-align: center; /*alinear el texto al centro*/
}

/* Estilos para los enlaces especifico */
a.no-style {
    /* Quitar Estilo de botones (a) definido anteriormente*/
    color: inherit; /*color del texto del enlace sin estilo*/
    padding: 0; /*sin espaciado del enlace sin estilo*/
    border-radius: 0; /*sin bordes redondeados del enlace sin estilo*/

    /* Decorar solo este boton*/
    background-color: rgb(231, 230, 230); /*color de fondo del enlace sin estilo*/
    color: rgb(0, 0, 137);
}


/* Estilos para pantallas pequeñas (celulares) */
@media screen and (max-width: 768px) { /*768 Es el punto de quiebre estándar (breakpoint)*/
    /* Estilos para los encabezados o navbar de celular*/
    .navbar {
        flex-direction: column; /*poner los objetos en una columna*/
        align-items: center; /*centrar los objetos*/
    }

    .References-NavBar { 
        display: grid; /*poner los objetos en una cuadrícula*/
        grid-template-columns: repeat(2, 1fr); /* 2 columnas */
        gap: 10px; /*espacio entre los objetos*/
        justify-items: center; /*centrar los objetos*/
    }

    .Img-NavBar{
        text-align: center; /*centrar la imagen del navbar*/
    }

    /* Estilos para las Cards internas*/
    .card-Internas{
        text-align: center; 
    }

    /*estilos algunos de los texto de la pagina*/
    h1, h2, h3, p, .Img-Perfil{
        text-align: center; /*centrar el texto del h2*/
    }

    /* Estilos para contacto */
    input, textarea, select {
        width: 90%; /*ancho del input en celular*/
    }

    /* centrar el formulario en los celulares */
    .Cent-Form {
        align-items: center; /*centrar los objetos*/
        justify-content: center; /*centrar los objetos*/
    }
}