body {
    background-color: #a9c4dc; /*color de fondo*/
    font-family: 'Comic Sans MS', sans-serif;/*fuente*/
}

.navbar {
    border-radius: 15px; /*bordes redondeados*/
    background-color: #b3dcff; /*color de fondo del navbar*/
    padding: 10px; /*espaciado del navbar*/
    display: flex; /*poner tods los objetos en una fila*/
    justify-content: space-between; /*espacio entre los objetos*/
    align-items: center; /*alinear los objetos al centro*/
    gap: 10px; /*espacio entre los objetos*/
    flex-wrap: wrap; /*permitir que los objetos se ajusten a la pantalla*/
}

.References-NavBar {
    display: flex; /*poner tods los objetos en una fila*/
    gap: 15px; /*espacio entre los objetos*/
    flex-wrap: nowrap; /*no permitir que los objetos se ajusten a la pantalla en pc*/
}

.Img-NavBar {
   width: 100px; /*ancho de la imagen del navbar*/
   height: auto; /*alto de la imagen del navbar*/
}

.Card-Seccion {
    border-radius: 15px; /*bordes redondeados*/
    border: 1px solid #ccc; /*borde de la tarjeta*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /*sombra de la tarjeta*/
    padding: 20px; /*espaciado de la tarjeta*/
    background-color: #ffffff; /*color de fondo de la tarjeta*/
    margin: 10px auto; /*margen de la tarjeta*/
    /* max-width: auto; */ 
}

a, .BotonForm {
    text-decoration: none; /*sin subrayado*/
    background-color: #b3dcff; /*color de fondo del boton*/
    color: black; /*color del texto del boton*/
    padding: 10px 20px; /*espaciado del boton*/
    border: none; /*sin borde*/
    border-radius: 5px; /*bordes redondeados del boton*/
}   

.card-Internas {
    /* max-width: 600px; ancho máximo de la tarjeta */  
    border-radius: 15px; /*bordes redondeados*/
    border: 1px solid #ccc; /*borde de la tarjeta*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /*sombra de la tarjeta*/
    padding: 20px; /*espaciado de la tarjeta*/
    background-color: #ffffff; /*color de fondo de la tarjeta*/
    flex: 0 1 300px; /*flexibilidad de la tarjeta*/
    box-sizing: border-box; /*caja de la tarjeta*/
}

.card-contacto {
    align-items: center ; /*alinear los objetos al centro*/
}

.Card-contactos {
  background-color: white; /*color de fondo de la tarjeta de contactos*/
  padding: 25px 30px; /*espaciado de la tarjeta de contactos*/
  border-radius: 12px; /*bordes redondeados de la tarjeta de contactos*/
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /*sombra de la tarjeta de contactos*/
  max-width: 650px; /*ancho máximo de la tarjeta de contactos*/
  margin: 20px auto; /*margen de la tarjeta de contactos*/
  text-align: center; /*alinear el texto al centro*/
}

footer {
    text-align: center; /*alinear el texto al centro*/
}

.Cent-Form {
    display: flex; /*poner todos los objetos en una fila*/
    justify-content: center; /*centrar los objetos*/
    align-items: center; /*alinear los objetos al centro*/
    flex-direction: row; /* En computadora es fija fila */
    flex-wrap: wrap;     /* Por si hay muchos elementos */
}

input, textarea, select{
    /* width: 30%; ancho del input */
    padding: 10px; /*espaciado del input*/
    border-radius: 5px; /*bordes redondeados del input*/
    border: 1px solid #ccc; /*borde del input*/
    box-sizing: border-box; /*caja del input*/
    margin-bottom: 10px; /*margen inferior del input*/
    text-align: center;
}

@media screen and (max-width: 768px) { /*768 Es el punto de quiebre estándar (breakpoint)*/
    input, textarea, select {
        width: 90%; /*ancho del input en celular*/
    }

    .Cent-Form {
        align-items: center; /*centrar los objetos*/
        justify-content: center; /*centrar los objetos*/
    }

    .References-NavBar { 
        display: grid; /*poner los objetos en una cuadrícula*/
        grid-template-columns: repeat(2, 1fr); /* 2 columnas */
        gap: 10px; /*espacio entre los objetos*/
        justify-items: center; /*centrar los objetos*/
    }

    .navbar {
        flex-direction: column; /*poner los objetos en una columna*/
        align-items: center; /*centrar los objetos*/
    }

    .Img-NavBar{
        text-align: center;
    }

    .card-Internas{
        text-align: center;
    }

    h1, h2, h3, p, .Img-Perfil{
        text-align: center; /*centrar el texto del h2*/
    }
}